.wrapper {
  width: 100%;
  height: auto;
  background-color: #efefef;
}
header,
nav,
footer {
  width: 100%;
  height: 100%;
  background-color: #fff;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(26, 148, 255);
}
.header,
.nav_bar,
.wrapper_margin,
.wrapper_footer {
  width: 92%;
  height: 100%;
  margin: 0 auto;
  background-color: #efefef;
}
.header {
  display: flex;
  height: 100px;
  padding: 15px 0;
  background-color: rgb(26, 148, 255);
  position: relative;
  color: #fff;
}
.header_logo {
  width: 3%;
  object-fit: cover;
}
.header_logo img:last-child {
  margin-top: 5px;
}

.header_search {
  width: 82%;
  height: 20px;
  position: absolute;
  left: 18%;
}
.header_search-input,
.header_search {
  display: flex;
}
.header_search-input {
  width: 720px;
  height: 40px;
}
.header_search-input input {
  height: 100%;
  width: 100%;
  font-size: 16px;
  outline: 0;
  padding: 0 10px;
  border-radius: 1px;
  border: 0;
  background-color: #fff;
  box-shadow: rgb(98 98 98 / 50%) 0px 1px 2px 0px;
}
.header_search-input input::placeholder {
  font-size: 13px;
  color: #555;
}
.header_search-icon {
  width: 18%;
  height: 100%;
  color: #fff;
  padding: 8px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(13, 92, 182);
}
.header_search-icon .fa-solid {
  margin-right: 10px;
}
.header_search-text ul {
  display: flex;
}

.header_search-text ul li {
  margin: 7px 7px 5px 0;
}
.header_search-text ul li a {
  font-size: 11px;
  color: #fff;
}
.header_info {
  width: 26%;
  position: absolute;
  right: 0%;
}
.header_info-login {
  width: 58%;
  font-size: 12px;
}
.header_info-login .info_login-icon {
  font-size: 26px;
}
.header_info-cart {
  display: flex;
  position: relative;
}
.header_info-cart .fa-solid {
  font-size: 26px;
}
.header_info-cart p {
  margin-top: 10px;
  margin-left: 5px;
  font-size: 12px;
}

.header_info-cart .count {
  position: absolute;
  top: -10px;
  left: 20px;
  background: rgb(253, 216, 53);
  color: #555;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  padding: 4px 7px;
  border-radius: 20px;
}

.info_cart-text {
  font-size: 12px;
  display: flex;
  align-items: center;
  padding: 3px 8px;
  position: absolute;
  border-radius: 50px;
  right: 0;
  top: 100%;
  font-size: 12px;
  margin-top: 7px;
  background-color: rgba(255, 255, 255, 0.25);
}
.info_cart-text .fa-solid {
  margin-right: 5px;
}
.nav_bar {
  padding: 10px;
  background-color: #fff;
}
.nav_bar ul li a {
  color: rgb(56, 56, 61);
}
.wrapper_content {
  width: 100%;
  background-color: #efefef;
}
.wrapper_margin {
  height: auto;
}
.wrapper_slider {
  height: 100px;
  height: 280px;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.wrapper_slider-img {
  width: 69.5%;
}
.wrapper_slider-img img,
.wrapper_slider-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.wrapper_slider-banner {
  width: 30%;
}

.wrapper_flashSale {
  width: 100%;
  height: 100%;
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}

.wrapper_flashSale-product {
  width: 62%;
  padding: 15px;
  background-color: #fff;
}
.flashSale_product_title-left h3 {
  font-size: 24px;
  font-style: italic;
  color: #eb7e25;
}
.flashSale_product-watch {
  margin-left: 10px;
  color: #fff;
}
.flashSale_product-watch p {
  width: 22px;
  height: 22px;
  border-radius: 4px;
  background-color: #e73d4b;
  text-align: center;
}
.flashSale_product-watch strong {
  color: #000;
  margin: 0 3px;
}
.flashSale_product-title .see_all,
.brand_title .see_all {
  color: rgb(11, 116, 229);
  font-size: 16px;
}
.flashSale_product-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.flashSale_product_item_info-price {
  color: rgb(255, 66, 78);
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.flashSale_product_item_info-price p {
  font-size: 16px;
}
.flashSale_product_item_info-price span {
  margin-left: 7px;
  font-size: 12px;
}

.flashSale_product_item_info-selling {
  position: relative;
  width: 100%;
  height: 20px;
  background: #ffbda6;
  border-radius: 50px;
  overflow: hidden;
  cursor: pointer;
  margin-top: 10px;
}
.selling_fill {
  width: 30%;
  height: 100%;
  background-color: rgb(255, 66, 78);
  transition: all 0.2s;
  border-radius: 50px;
}
.selling_text {
  width: 100%;
  position: absolute;
  top: 45%;
  transform: translateY(-40%);
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  font-size: 10px;
}

.wrapper_flashSale-slider {
  width: 37%;
}

.wrapper_flashSale-slider img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.wrapper_banner_one {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.wrapper_banner_one-left,
.wrapper_banner_one-right {
  width: 20%;
}
.wrapper_banner_one-center {
  width: 58%;
}
.wrapper_banner_one img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.wrapper_heading {
  height: 100%;
  background-color: #fff;
  padding: 15px;
  margin: 20px 0;
}

.wrapper_heading_item-img {
  width: 50px;
  height: 50px;
}
.wrapper_heading_item-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.wrapper_heading_item-text p {
  margin-top: 15px;
  font-size: 14px;
  color: rgb(36, 36, 36);
}
.wrapper_heading-item {
  display: flex;
  justify-content: space-between;
}
.wrapper_heading-item li {
  text-align: -webkit-center;
}

.wrapper_banner_two {
  width: 100%;
  height: 100%;
}
.wrapper_banner_two img,
.wrapper_banner_three img {
  border-radius: 20px;
}
.wrapper_banner_two img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.wrapper_brand {
  width: 100%;
  height: 100%;
  padding: 15px;
  background-color: #fff;
  margin: 20px 0;
}
.brand_title-left h2,
.wrapper_category h2,
.wrapper_product h2 {
  margin-left: 10px;
  color: rgb(36, 36, 36);
  font-weight: 500;
}
.brand_slider {
  width: 100%;
}
.brand_slider img {
  width: 100%;
  height: 100%;
  margin: 15px 5px;
  border-radius: 5px;
}

.wrapper_brand-product ul li {
  border: 1px solid rgb(238, 238, 238);
  border-radius: 10px;
  padding: 10px;
  margin: 3px 0;
}
.wrapper_brand-product ul li img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.wrapper_category {
  height: 100%;
  background-color: #fff;
  padding: 15px;
  margin: 20px 0;
}
.wrapper_category h3 {
  color: rgb(36, 36, 36);
}
.wrapper_category-item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 5px;
}
.wrapper_category-item li {
  text-align: -webkit-center;
  margin: 12px 0;
}

.wrapper_banner_three {
  width: 100%;
  height: 100%;
}
.wrapper_banner_three img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.wrapper_product {
  height: 100%;
  margin: 20px 0;
}
.wrapper_product h2 {
  width: 100%;
  padding: 10px;
  margin-left: 0;
  background-color: #fff;
}
.wrapper_product-nav {
  margin: 5px 0;
}
.wrapper_product-nav li {
  text-align: -webkit-center;
  border-radius: 5px;
  background-color: #fff;
  padding: 5px 0;
}
.wrapper_product-nav li.active {
  border: 1px solid rgb(13, 92, 182);
}

.wrapper_footer {
  height: 100%;
  background-color: #fff;
  padding: 15px 0;
}
.footer_info {
  height: 100%;
  background-color: #fff;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(223, 223, 232);
}
.footer_address {
  height: 100%;
  padding-bottom: 20px;
  background-color: #fff;
  border-bottom: 1px solid rgb(223, 223, 232);
}
.wrapper_text {
  height: 100%;
  background-color: #fff;
   padding-bottom: 20px;
   border-bottom: 1px solid rgb(223, 223, 232);
}

.wrapper_product-list {
  background-color: #fff;
}
.product-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  padding: 10px;
}
.product-list-item:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.product-list_item-img img {
  width: 100%;
  height: 100%;
  text-align: -webkit-center;
  object-fit: cover;
}
.product-list_item_info-text {
  width: 100%;
  height: 48px;
  word-wrap: break-word;
  white-space: normal;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  margin-bottom: 10px;
}
.item_info_star-icons .fa-solid {
  font-size: 10px;
  color: rgb(253, 216, 54);
}
.item_info_star-icons {
  height: 15px;
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid #bdbdbd;
  display: flex;
}
.product-list_item_info-star {
  display: flex;
}
.item_info_star-icons:last-child {
  border-right: none;
}
.item_info_star-text p {
  color: rgb(128, 128, 137);
  font-size: 12px;
}
.product-list_item_info-price {
  color: rgb(255, 66, 78);
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.product-list_item_info-price p {
  font-size: 20px;
  margin-right: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.container {
  display: flex;
  justify-content: space-between;
}
.footer-nav-item h4,
.nav-title {
  color: rgb(56, 56, 61);
}
.nav-title{
  margin-bottom: 5px;
}
.footer-nav-item a {
  line-height:25px;
  font-size: 12px;
  transition: all 0.3s ease;
  color: rgb(128, 128, 137);
}
.footer-nav-item a:hover {
  text-decoration: underline;
}
.footer-nav-list-item ul,
.footer-nav-list-item3 ul,
.footer-nav-list-item2 ul {
  display: flex;
}
.footer-nav-item1 img {
  margin-right: 10px;
}

.footer-nav-list-item ul li,
.download_app--tool ul li,
.download_app--qr ul li {
  width: 100%;
  height: 30px;
  padding: 10px;
  background-color: #fff;
  margin: 5px 3px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}
.footer-nav-list-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer-nav-list-item ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.footer-nav-item {
  width: 100%;
}
.download_app {
  display: flex;
}
.download_app--qr ul li {
  width: 85px;
  height: 85px;
  margin-right: 10px;
}
.download_app--tool ul li {
  width: 80px;
  height: 25px;
}

.footer-nav-list-item1,
.footer-nav-list-item {
  margin-bottom: 10px;
}
.footer_address h4 {
  margin-top: 10px;
}
.footer_address h3 {
  margin-top: 10px;
}
.footer_address p {
  font-size: 12px;
  margin-top: 3px;
}


.footer_two--category {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.footer-category-box {
  padding-right: 40px;
  width: 20%;
  margin: 10px 0;
}
.category-box-title {
  font-size: 12px;
  display: block;
  color: rgba(0, 0, 0, 0.54);
  font-weight: 600;
}
.footer-category-box-item .footer-category-link {
  padding-right: 5px;
  margin-right: 5px;
  border-right: 1px solid rgba(0, 0, 0, 0.65);
  height: 20px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.54);
  transition: all 0.3s ease;
}
.footer-category-box-item .footer-category-link:hover{
text-decoration: underline;
}
.footer_two {
  color: #000;
  font-weight: 500;
  border-bottom: 1px solid #bdbdbd;
  margin-bottom: 10px;
}

.wrapper_footer_category{
  margin-top: 15px;
}

.footer-nav-list-item1 ul li a{
  line-height: 28px;
}


nav .menu-btn i{
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  display: none;
  position: relative;
  top: -90px;
  left: 50%;
}
input[type="checkbox"]{
  display: none;
}


#slider {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}
#slider input[type="radio"] {
  display: none;
}
#slider label {
  cursor: pointer;
  text-decoration: none;
}
#slides {
  background: #fff;
  position: relative;
  z-index: 1;
}
#overflow {
  width: 100%;
  overflow: hidden;
}
.slide-content {
  width: 100%;
  height: 100%;
}
.slide-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#slide1:checked ~ #slides .inner {
  margin-left: 0;
}
#slide2:checked ~ #slides .inner {
  margin-left: -102%;
}
#slide3:checked ~ #slides .inner {
  margin-left: -210%;
}
#slide4:checked ~ #slides .inner {
  margin-left: -307%;
}
/* #slide5:checked ~ #slides .inner {
  margin-left: -408%;
}
#slide6:checked ~ #slides .inner {
  margin-left: -510%;
}
#slide7:checked ~ #slides .inner {
  margin-left: -612%;
}
#slide8:checked ~ #slides .inner {
  margin-left: -714%;
}
#slide9:checked ~ #slides .inner {
  margin-left: -816%;
}
#slide10:checked ~ #slides .inner {
  margin-left: -918%;
}
#slide11:checked ~ #slides .inner {
  margin-left: -1020%;
}
#slide12:checked ~ #slides .inner {
  margin-left: -1120%;
} */
#slides .inner {
  transition: margin-left 800ms cubic-bezier(0.77, 0, 0.175, 1);
  width: 1200%;
  line-height: 0;
  height: 300px;
}
#slides .slide {
  width: 4.5%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #fff;
}
#controls {
  margin: -180px 0 0 0;
  width: 100%;
  height: 50px;
  z-index: 3;
  position: relative;
}
#controls label {
  transition: opacity 0.2s ease-out;
  display: none;
  width: 50px;
  height: 50px;
  opacity: 0.4;
}
#controls label:hover {
  opacity: 1;
}
#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(3),
#slide3:checked ~ #controls label:nth-child(4),
#slide4:checked ~ #controls label:nth-child(1){
  background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
  float: right;
  margin: 0 -50px 0 0;
  display: block;
}
#slide1:checked ~ #controls label:nth-last-child(2),
#slide2:checked ~ #controls label:nth-last-child(3),
#slide3:checked ~ #controls label:nth-last-child(4),
#slide4:checked ~ #controls label:nth-last-child(1) {
  background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
  float: left;
  margin: 0 0 0 -50px;
  display: block;
}
#bullets {
  width: 58%;
  margin: 100px 0 0;
  text-align: center;
  z-index: 1;
  position: absolute;
}
#bullets label {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #ccc;
  margin: 0 10px;
}
#slide1:checked ~ #bullets label:nth-child(1),
#slide2:checked ~ #bullets label:nth-child(2),
#slide3:checked ~ #bullets label:nth-child(3),
#slide4:checked ~ #bullets label:nth-child(4),
#slide5:checked ~ #bullets label:nth-child(5),
#slide6:checked ~ #bullets label:nth-child(6),
#slide7:checked ~ #bullets label:nth-child(7),
#slide8:checked ~ #bullets label:nth-child(8),
#slide9:checked ~ #bullets label:nth-child(9),
#slide10:checked ~ #bullets label:nth-child(10),
#slide11:checked ~ #bullets label:nth-child(11) {
  background: red;
}