@import "./variables";
@import "./mixins";

/* START HEADER */

header {
  @include bgc($bg-color-blue);

  @include mobile {
    @include position(relative);
  }

  .header {
    @include height(100px);
    padding: 15px 0;
    @include bgc($bg-color-blue);
    @include position(relative);
    @include color();

    &_logo {
      @include width(3%);

      @include mobile {
        img {
          width: 50px;
        }
      }

      object-fit: cover;

      & img:last-child {
        margin-top: 5px;
      }

      @include mobile {
        @include width(50px);
        margin-bottom: 20px;
      }
    }

    &_search {
      @include size(82%, 20px);
      @include position();
      left: 18%;
      @include desktop {
        @include width(81%);
        left: 16%;
      }

      &-input {
        @include size(720px, 40px);

        @include mobile {
          width: 446px;
          height: 40px;
          display: flex;
          position: absolute;
          right: -4%;
          top: 200%;
        }

        input {
          @include size(100%);
          @include fontSize();
          outline: 0;
          padding: 0 10px;
          border-radius: 1px;
          border: 0;
          @include bgc();
          box-shadow: rgb(98 98 98 / 50%) 0px 1px 2px 0px;
        }

        input::placeholder {
          @include fontSize(13px);
          @include color(#555);
        }
      }

      &-icon {
        @include size(18%, 100%);
        @include color();
        padding: 8px 15px;
        @include bgc(rgb(13, 92, 182));

        .fa-solid {
          margin-right: 10px;
        }
      }

      &-text ul li {
        margin: 7px 7px 5px 0;

        a {
          @include fontSize(11px);
          @include color();
        }
      }
    }

    &_info {
      @include width(26%);
      @include position();
      right: 0%;
      @include desktop {
        @include width(29%);
        right: -4%;
      }

      @include mobile {
        @include width(20%);
      }
      &-login {
        @include width(48%);
        @include fontSize($fontSize);

        &-icon {
          @include fontSize(26px);
        }
      }

      &-cart {
        @include position($positionRelative);

        .fa-solid {
          @include fontSize(26px);
        }

        p {
          margin-top: 10px 0 0 5px;
          @include fontSize($fontSize);
        }

        & .count {
          @include position();
          top: -10px;
          left: 20px;
          @include bgc(rgb(253, 216, 53));
          @include color(#555);
          @include fontSize($fontSize);
          font-weight: bold;
          line-height: 1;
          padding: 4px 7px;
          border-radius: 20px;
        }
      }

      &-text {
        @include fontSize($fontSize);
        @include justifyContent("center");
        padding: 3px 8px;
        @include position();
        border-radius: 50px;
        right: 0;
        top: 100%;
        margin-top: 7px;
        @include bgc(rgba(255, 255, 255, 0.25));

        .fa-solid {
          margin-right: 5px;
        }

        @include mobile {
          display: none;
        }
      }
    }
  }
}

/* END HEADER */

/* START NAVBAR */
nav {
  & .menu-btn i {
    @include color();
    @include fontSize(30px);
    cursor: $cursor;
    display: none;
    @include position($positionRelative);
    top: -90px;
    left: 50%;

    @include mobile {
      display: block;
    }
  }

  @include mobile {
    ul li {
      @include width(100%);
    }
  }

  & .nav_bar {
    padding: 10px;
    @include bgc();

    @include mobile {
      @include bgc(#efefef);
    }

    ul li a {
      @include color(rgb(56, 56, 61));
    }
  }

  input[type="checkbox"] {
    display: none;
  }
}

/* END NAVBAR */

.wrapper_content {
  @include size(100%);
  @include bgc(#efefef);

  #wrapper_slider {
    @include height(300px);
    @include justifyContent("space-between");
    margin-top: 15px;

    &-img {
      @include width(69.5%);

      @include mobile {
        @include width();
      }

      margin-bottom: 10px;

      &2:checked ~ #slides-img .slides_img-inner {
        margin-left: -104%;
      }

      &3:checked ~ #slides-img .slides_img-inner {
        margin-left: -208%;
      }

      &4:checked ~ #slides-img .slides_img-inner {
        margin-left: -312%;
      }

      &5:checked ~ #slides-img .slides_img-inner {
        margin-left: -416%;
      }

      &6:checked ~ #slides-img .slides_img-inner {
        margin-left: -520%;
      }

      &7:checked ~ #slides-img .slides_img-inner {
        margin-left: -624%;
      }

      &8:checked ~ #slides-img .slides_img-inner {
        margin-left: -728%;
      }

      &9:checked ~ #slides-img .slides_img-inner {
        margin-left: -832%;
      }

      &10:checked ~ #slides-img .slides_img-inner {
        margin-left: -936%;
      }

      &11:checked ~ #slides-img .slides_img-inner {
        margin-left: -1040%;
      }

      &12:checked ~ #slides-img .slides_img-inner {
        margin-left: -1144%;
      }

      &13:checked ~ #slides-img .slides_img-inner {
        margin-left: -1248%;
      }

      &14:checked ~ #slides-img .slides_img-inner {
        margin-left: -1352%;
      }

      &15:checked ~ #slides-img .slides_img-inner {
        margin-left: -1456%;
      }

      #slides-img .slides_img-inner {
        @include width(1600%);
      }

      #slides_img-bullets {
        margin: 100px 0 0;
        z-index: 1;
        @include position();
        left: 25%;
        @include desktop {
          left: 17%;
        }

        @include mobile {
          left: 0;
        }
      }
    }

    &-banner {
      @include width(30%);

      @include mobile {
        display: none;
      }
    }
  }

  /* END SLIDER */

  /* START FLASH SALE */
  .wrapper_flashSale {
    margin: 20px 0;
    @include justifyContent("space-between");

    &-slider {
      @include width(39%);
    }

    &-product {
      @include width(62%);
      padding: 20px;

      @include mobile {
        @include width();
        padding: 0;
      }

      .flashSale-product-title {
        &-left h3 {
          @include fontSize(24px);
          font-style: italic;
          @include color(#eb7e25);

          @include mobile {
            @include fontSize(18px);
          }
        }

        &-watch {
          margin-left: 10px;
          @include color();

          p {
            @include size(22px);
            border-radius: 4px;
            @include bgc(#e73d4b);
            text-align: $textAlign;
          }

          strong {
            @include color(#000);
            margin: 0 3px;
          }
        }
      }
    }

    .flashSale_product_item_info {
      &-price {
        @include color(rgb(255, 66, 78));
        font-weight: bold;
        @include alignItems("flex-end");

        p {
          @include fontSize();
        }

        span {
          margin-left: 7px;
          @include fontSize($fontSize);
        }
      }

      &-selling {
        @include position($positionRelative);
        @include size(100%, 20px);
        @include bgc(#ffbda6);
        border-radius: 50px;
        overflow: hidden;
        cursor: $cursor;
        margin-top: 10px;

        .selling_fill {
          @include size(30%, 100%);
          @include bgc(rgb(255, 66, 78));
          transition: all 0.2s;
          border-radius: 50px;
        }

        .selling_text {
          @include width();
          @include position();
          top: 45%;
          transform: translateY(-40%);
          @include color();
          @include alignItems("center");
          text-transform: capitalize;
          @include fontSize(10px);
        }
      }
    }

    #slide-two:checked ~ #flashSale-sliders .flashSale_slider-inner {
      margin-left: -100%;
    }

    #slide-three:checked ~ #flashSale-sliders .flashSale_slider-inner {
      margin-left: -200%;
    }

    #flashSale-sliders .flashSale_slider-inner {
      @include width(300%);
    }

    #flashSale-sliders .flashSale-slide img {
      @include width();
    }

    #flashSale-sliders .flashSale-slide {
      @include size(33.33%, 100%);
      float: left;
      @include color();
      @include desktop {
        @include height(92%);
      }
    }

    #flashSale_slider-bullets {
      @include width(29%);
      margin: 100px 0 0;
      text-align: $textAlign;
      z-index: 1;
      @include position();
      @include justifyContent("center");
      @include desktop {
        @include width(37%);
        margin: 81px 0 0;
      }
    }
  }

  /* END FLASH SALE */

  /* START BANNER ONE */
  .wrapper_banner_one {
    &-center {
      @include width(58%);
    }

    img {
      border-radius: 4px;
    }
  }

  /* END BANNER ONE */

  /* START HEADING */
  .wrapper_heading {
    @include height();
    padding: 15px;
    margin: 20px 0;

    &-item {
      @include justifyContent("space-between");
      text-align: $textAlign;

      &-img {
        @include size(50px);
      }

      &-text p {
        margin-top: 15px;
        @include fontSize(14px);
        @include color(rgb(36, 36, 36));
      }
    }
  }

  /* END HEADING */

  /* START BRAND */
  .wrapper_brand {
    padding: 10px;

    #brand-slider {
      @include size(100%, 330px);

      &-bullets {
        @include width(75%);
        margin: 100px 0 0;
        z-index: 1;
        @include position();
        @include justifyContent("center");
        @include desktop {
          @include width(93%);
        }
      }

      &2:checked ~ #brand-slides .brand_slider-inner {
        margin-left: -105%;
      }

      &3:checked ~ #brand-slides .brand_slider-inner {
        margin-left: -210%;
      }

      &4:checked ~ #brand-slides .brand_slider-inner {
        margin-left: -314%;
      }

      &5:checked ~ #brand-slides .brand_slider-inner {
        margin-left: -418%;
      }

      &6:checked ~ #brand-slides .brand_slider-inner {
        margin-left: -523%;
      }

      &7:checked ~ #brand-slides .brand_slider-inner {
        margin-left: -628%;
      }

      &8:checked ~ #brand-slides .brand_slider-inner {
        margin-left: -732%;
      }

      &9:checked ~ #brand-slides .brand_slider-inner {
        margin-left: -836%;
      }

      &10:checked ~ #brand-slides .brand_slider-inner {
        margin-left: -940%;
      }

      &11:checked ~ #brand-slides .brand_slider-inner {
        margin-left: -1045%;
      }

      #brand-slides {
        .brand_slider-inner {
          @include width(1200%);
        }

        .brand_slide {
          @include size(8.7%, 100%);
          float: left;
          @include color();

          img {
            @include size(100%);
            margin: 15px 5px;
            border-radius: 5px;
          }

          &-content {
            @include size(50%, 100%);
          }
        }
      }
    }

    &-product ul li {
      border: 1px solid rgb(238, 238, 238);
      border-radius: 10px;
      padding: 10px;
      margin: 3px 0;
    }
  }

  /* END BRAND */

  /* START CATEGORY */
  .wrapper_category {
    @include height();
    padding: 15px;
    margin: 20px 0;

    h3 {
      @include color(rgb(36, 36, 36));
    }

    &-item {
      @include justifyContent("space-between");
      flex-wrap: $flexWrap;
      margin-top: 5px;
      text-align: $textAlign;

      @include mobile {
        justify-content: flex-start;
      }

      li {
        margin: 12px 0;
      }

      &-text {
        @include height(33px);
      }
    }
  }

  /* END CATEGORY */

  /* START PRODUCT */
  .wrapper_product {
    @include height();
    margin: 20px 0;

    h2 {
      @include width();
      padding: 10px;
    }

    &-nav {
      margin: 5px 0;
      text-align: $textAlign;

      @include mobile {
        @include bgc();
      }

      li {
        border-radius: 5px;
        padding: 5px 0;

        .active {
          border: 1px solid rgb(13, 92, 182);
        }

        @include mobile {
          border-radius: 0;
        }
      }
    }

    .product-list-item {
      margin: 10px 0;
      padding: 10px;

      @include mobile {
        margin: 5px 0;
      }

      &:hover {
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

        @include mobile {
          box-shadow: none;
        }
      }

      &-info {
        &-text {
          @include size(100%, 48px);
          word-wrap: break-word;
          white-space: normal;
          overflow: hidden;
          display: -webkit-box;
          text-overflow: ellipsis;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          margin-bottom: 10px;
        }

        &-icon {
          display: flex;

          &-star {
            @include height(15px);
            margin-right: 10px;
            padding-right: 10px;
            border-right: 1px solid #bdbdbd;
            display: $displayFlex;

            &:last-child {
              border-right: none;
            }

            .fa-solid {
              @include fontSize(10px);
              @include color(rgb(253, 216, 54));
            }
          }

          &-text p {
            @include color(rgb(128, 128, 137));
            @include fontSize($fontSize);
          }
        }

        &-price {
          @include color(rgb(255, 66, 78));
          font-weight: bold;
          @include alignItems("flex-end");

          p {
            @include fontSize(20px);
            margin-right: 10px;
          }
        }
      }

      &-sellAll {
        @include width(32.6%);
        margin: 10px auto;
        @include bgc();
        border: 1px solid rgb(11, 116, 229);
        cursor: $cursor;
        transition: all 0.3s ease;
        @include justifyContent("center");
        padding: 10px;
        @include color(rgb(11, 116, 229));

        &:hover {
          @include color();
          @include bgc(rgb(11, 116, 229));
        }
      }
    }
  }

  /* END PRODUCT */
}

/* START FOOTER */
.wrapper_footer {
  padding: 15px 0;

  .footer_info {
    .container {
      @include justifyContent("space-between");
    }
  }

  .footer-nav-item {
    h4 {
      margin-bottom: 5px;
    }

    a {
      line-height: 25px;
      @include fontSize($fontSize);
      transition: all 0.3s ease;
      @include color(rgb(128, 128, 137));
    }

    &:hover {
      text-decoration: underline;
    }

    &1 img {
      margin-right: 10px;
    }
  }

  .footer-nav-list-item {
    @include justifyContent("space-between");
    flex-wrap: $flexWrap;

    ul {
      @include justifyContent("flex-start");
      flex-wrap: $flexWrap;
    }

    &1 ul li a {
      line-height: 28px;
    }
  }

  .download_app {
    &-qr ul li {
      @include size(85px);
      margin-right: 10px;
    }

    &-tool ul li {
      @include size(85px, 25px);
    }
  }

  .footer_two {
    @include color(#000);
    font-weight: 500;
    margin-bottom: 10px;

    &-category {
      @include alignItems("other");
      flex-wrap: $flexWrap;
    }
  }

  .wrapper_text {
    margin-top: 20px;
  }

  .wrapper_footer_category {
    margin-top: 15px;

    .footer-category-box {
      padding-right: 40px;
      @include width(20%);
      margin: 10px 0;

      &-title {
        @include fontSize($fontSize);
        display: block;
        @include color(rgba(0, 0, 0, 0.54));
        font-weight: 600;
      }

      &-item .footer-category-link {
        padding-right: 5px;
        margin-right: 5px;
        border-right: 1px solid rgba(0, 0, 0, 0.65);
        @include height(20px);
        @include fontSize(13px);
        @include color(rgba(0, 0, 0, 0.54));
        transition: all 0.3s ease;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
